$ColorWhite: #fff;
$ColorNavBar: #7f8c8d;
$ColorNews: #4C4C4C;
$BackgroundWhite: #fff;
$BackgroundHeading: #5A1113;
$BackgroundNavBar: #131313;
$BackgroundNews: #DEDEDE;

/* This is for the main body background */
body{
	background-color: $BackgroundWhite;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
/* This is for the header and its content */
.header{
	background-color: $BackgroundHeading;
	display: flex;
	height: 120px;
	justify-content: space-around;
	margin-bottom: 0;
}
.headerimg1{
	margin: auto auto auto 20px;
}
.headerimg2{
	margin: auto 20px auto auto;
}
/* This is for the navbar */
.navbar{
		background-color: $BackgroundNavBar;
		margin: 0;
}
.ulist{
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.ulist li a {
	display: block;
	margin-left: 10px;
	padding: 3px 10px;
	text-decoration: none;
	color: $ColorNavBar;
	line-height: 50px;
	font-size: 1.6em;
}
/* This is the color the navbars link has for the current site you are on + hover effect */
.currentsite{
	color: $ColorWhite;
}
.ulist li a:hover{
	transition: 0.3s;
	color: $ColorWhite;
}
/* This is for everything below the navbar to be only 90% width */
.bodycontainer{
	width: 90%;
	margin: 0 auto;
}
/* This is for the date on the side of the page */
.date{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	height: 50px;
	justify-content: flex-end;
}
.date p{
	margin: auto 0;
	padding: 0;
}
/* This is the top news bar */
.topnews{
	background-color: $BackgroundNews;
	width: 100%;
	padding: 0;
}
.topnews ul{
	padding: 0;
	margin: 0;
}
.topnews ul li{
	display: block;
	margin-left: 10px;
	padding: 3px 10px;
	text-decoration: none;
	color: $ColorNews;
	line-height: 50px;
	font-size: 1.6em;
}
/* This is for the first three images */
.firstimages{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.firstimages .img{
	flex-basis: 30%;
}
/* This is for the images to be responsive only for tablet or desktop width */
@media screen and (min-width: 550px){
	.firstimages .img img{
		width: 100%;
		height: auto;
	}
	.firstpartrightside img{
		height: 100%;
		width: auto;
	}
}
/* This won't show the images we see in mobile version */
@media screen and (min-width: 551px){
	.imgbanner{
		display: none;
	}
	.fh{
		display: none;
	}
}
/* This is for the descriptions of the images to be backgrounded and slightly pushed upwards */
.firstimages .img figcaption {
	padding: 3px;
	background-color: #131313;
	color: $ColorWhite;
	position: relative;
	margin: -15% 0 0 0;
	max-width: 100%;
	font-size: 1.6em;
}
/* This removes the link layout for the articles */
.firstimages .img a {
	text-decoration: none;
}
/* This is the popular bar */
.popular{
	margin-top: 20px;
	width: 100%;
	@extend .topnews;
}
/* This is for the first six pictures including the popular bar to bin in one flexbox */
.firstpartcontainer{
	display: flex;
	margin-top: 20px;
}
/* This is for the images to be positioned */
.firstpartleftside{
	flex: 8;
	margin-right: 20px;
}
/* This is for the blue banner to be positioned */
.firstpartrightside{
	flex: 1;
	text-align: right;
}
/* This is the developer banner between the images */
.developerbanner{
	display: flex;
}
.developerbanner a{
	margin: 20px auto 0 auto;
}
.developerbanner img{
	max-width: 690px;
	width: 100%;
	height: auto;
}
/* This is for the images below the coder banner and the yellow banner */
.secondpartcontainer{
 	display: flex;
 	margin-top: 20px;
}
/* This is the four images on the left */
.secondpartleftside{
	flex: 7;
	margin-right: 20px;
}
/* This is the yellow banner on the right */
.secondpartrightside{
	flex: 1;
	text-align: right;
}
.secondimages{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.secondimages .img{
	flex-basis: 47.5%;
}
/* This is for the second pictures to be responsive just for desktop and tablet width */
@media screen and (min-width: 550px){
	.secondimages .img img{
		width: 100%;
		height: auto;
	}
	.secondpartrightside img{
		height: 100%;
		width: auto;
	}
}
/* This is for the second images description */
.secondimages .img figcaption {
	padding: 3px;
	background-color: #131313;
	color: $ColorWhite;
	position: relative;
	margin: -5% 0 0 0;
	max-width: 100%;
	font-size: 1.6em;
}
.secondimages .img a{
	text-decoration: none;
}
/* This is for the space over the images */
.iltwo{
	margin-top: 20px;
}
/* This is the styling for the footer */
.footer{
	margin-top: 50px;
	width: 100%;
	background-color: $BackgroundNavBar;
	display: flex;
	flex-direction: column;
}
.ulist .bl {
	display: block;
	margin-left: 10px;
	padding: 3px 10px;
	text-decoration: none;
	color: $ColorWhite;
	line-height: 50px;
	font-size: 1.6em;
}
.footerimg{
	margin: auto 20px auto auto;
}
.footertxt{
	color: white;
	margin: 0 auto;
	font-size: 1.5em;
}
/* This is for the layout in tablet mode */
@media screen and (max-width: 1000px){
	.firstpartrightside {
		display: none;
	}
	.firstpartleftside{
		margin-right: 0;
	}
	.firstimages .img figcaption {
		font-size: 125%;
	}
	.secondimages .img figcaption {
		font-size: 125%;
	}
	.up{
		justify-content: space-around;
	}
	.sidepagecontent{
		flex-wrap: wrap;
	}
}
/* This is for the layout in mobile mode */
@media screen and (max-width: 550px){
	.headerimg2 {
		display: none;
	}
	.developerbanner{
		display: none;
	}
	.secondpartrightside{
		display: none;
	}
	.up{
		justify-content: space-around;
	}
	.ilone{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.firstimages .img{
		flex-basis: 48%;	
	}
	.popular{
		margin-bottom: 20px;
	}
	.iltwo{
		margin-top: 0;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.secondimages .img{
		flex-basis: 45%;	
	}
	.firstimages .img img{
		width: 100%;
		height: auto;
	}
	.firstimages .img figcaption {
		margin: -5% 0 20px 0;
	}
	.secondpartcontainer{
		margin-top: 0;
	}
	.secondimages .img img{
		width: 100%;
		height: auto;
	}
	.secondimages .img figcaption {
		margin: -5% 0 20px 0;
	}
	.secondpartleftside{
		margin-right: 0px;
	}
	.down{
		margin: 0 auto;
	}
	.footerimg{
		margin: 0 auto;
	}
	.sidepagecontent{
		flex-direction: column;
	}
	.sidepagecontent .img img{
		width: 100%;
		height: auto;
	}
	.sidepagecontent .img a figcaption{
		margin: -5% 0 20px 0;
		font-size: 125%;
	}
	.mh{
		display: none;
	}
}
/* This is for all the content on the side pages */
.sidepagecontent{
	margin: 20px 0 110px 0;
	display: flex;
	justify-content: space-between;
}
.sidepagecontent h1{
	margin: auto auto 405px;
}
.sidepagecontent .img{
	flex-basis: 30%;
}
.sidepagecontent .img img{
	width: 100%;
	height: auto;
}
.sidepagecontent .img figcaption{
	padding: 3px;
	background-color: #131313;
	color: $ColorWhite;
	position: relative;
	margin: -5% 0 0 0;
	max-width: 100%;
	font-size: 1.6em;
}
.sidepagecontent .img a{
	text-decoration: none;
}
.sidepagecontent .img iframe {
	margin-bottom: 68px;
}